@model Buffet_GUI.Data.DBModels.CheckedInGuest

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<h2>Welcome Restarant staff to the Restarant main page!</h2>
<b>Below you can check in guests for the kitchen, with the expected guests for a given day:</b>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAdultsCheckedIn" class="control-label"></label>
                <input asp-for="NumberOfAdultsCheckedIn" class="form-control" />
                <span asp-validation-for="NumberOfAdultsCheckedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfChildrenCheckedIn" class="control-label"></label>
                <input asp-for="NumberOfChildrenCheckedIn" class="form-control" />
                <span asp-validation-for="NumberOfChildrenCheckedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="button" />
            </div>
        </form>
    </div>
</div>


<form asp-action="Index" method="get">
    <div>
        <button class="button"> Back to List </button>
    </div>
</form>