@model IEnumerable<Buffet_GUI.Data.DBModels.CheckedInGuest>

@{
    ViewData["Title"] = "Index";
}

    <h1>Welcome Restarant staff to the Restarant main page!</h1>
    <b>Below you can check in guests for the kitchen, and inspect the expected guests:</b>

<p>
    <a asp-action="Create">Check in guests</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdultsCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildrenCheckedIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfAdultsCheckedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfChildrenCheckedIn)
                </td>
            </tr>
        }
    </tbody>
</table>
