@model IEnumerable<Buffet_GUI.Data.DBModels.BuffetReservation>
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome Kitchen staff to the Kitchen main page:</h2>

<form asp-action="ShowBuffetReservationsExpected" method="get">
    <div class="form-group">
        <label class="control-label">Search for expected guests on a specific day: </label>

        <input type="date" name="datetime" class="form-control col-md-6" />
    </div>

    <div class="form-group">
        <input type="submit" value="Search" />
    </div>
</form>

<form asp-controller="Reception" asp-action="ShowCheckedInBuffetList" method="get">
    <div class="form-group">
        <label class="control-label">Search for checked in guests on a specific day:</label>

        <input type="date" name="datetime" class="form-control col-md-6" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" />
    </div>
</form>

<form asp-controller="Kitchen" asp-action="ShowNotCheckInGuests" method="get">
    <div class="form-group">
        <label class="control-label">Search for non-checked in guests on a specific day:</label>

        <input type="date" name="datetime" class="form-control col-md-6" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" />
    </div>
</form>
