@model IEnumerable<Buffet_GUI.Data.DBModels.CheckedInGuest>
@{
    ViewData["Title"] = "Reception";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>


<h2>Welcome Restarant staff to the Restarant main page!</h2>

<form asp-action="ShowCheckedInBuffetList" method="get">
    <div class="form-group">
        <label class="control-label">Search for allready checked in guests:</label>
        <input type="date" name="dateTime" class="form-control col-md-6" />
    </div>

    <div class="form-group">
        <input type="submit" class="button" value="Search" />
    </div>
</form>

<form asp-controller="Reception" asp-action="Create" method="get">
    <div>
        <button class="button" > Add Expected Guests </button>
    </div>
</form>