@model IEnumerable<Buffet_GUI.Data.DBModels.CheckedInGuest>
@{
    ViewData["Title"] = "Reception";
}

    <h1>Welcome Restarant staff to the Restarant main page!</h1>

<form asp-action="ShowCheckedInBuffetList" method="get">
    <div class="form-group">
        <label class="control-label">Search for allready checked in guests:</label>
        <input type="date" name="dateTime" class="form-control col-md-6" />
    </div>

    <div class="form-group">
        <input type="submit" value="Search" />
    </div>
</form>


<h2>Add expected Guests</h2>

<div>
    <a asp-controller="Reception" asp-action="Create">Add Expected Guests</a>
</div









