
@{
    ViewData["Title"] = "Reception";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>

    <div id="reception-wrapper">
        <h1>Reception</h1>
        <button class="MenuButton"><a asp-controller="Reception" asp-action="ExpectedGuests">Guests expected page</a></button>
        <button class="MenuButton"><a asp-controller="Reception" asp-action="OverviewOverGuests">Guest overview page</a></button>
    </div>

</body>
</html>