@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="css/StyleSheet.css" />
</head>

<div class="text-center">
    <h2 class="display-4">Welcome to the morningbuffet system:</h2>
    <p>If there are no buttons beyond register and login in the Navbar, you aren't logged in, or your user does not have access to the system. If you mean you should have access, contact the systemadmin for a solution</p>
    <b>Alloted staff for the system at the moment are Kitchen, Reception and Restaurant staff!</b>
</div>
